/*text*/
body{
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
p{  
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    font-size: 20px;
    font-style: italic;
    letter-spacing: -2px;
    text-transform: capitalize;
    text-decoration: dashed; 
     
}
/* sizes*/

.place-detail{
    width: 500px;
}
.place-image-conteiner, .place-image-conteiner img{
    width: 500px;
}
.hero *{
    color: #026fff;
} 
.hero{
    height: 300px;
    background-color: #1b2127;
    background-image: url('../img/hero.jpg');
    background-size: 1000px, 300px;
    background-repeat: no-repeat;
    background-position-y: -150px;
}
.hero .main-section-image-conteiner img{
    height: 300px;
}
.activity-detail{
    width: 500px;
}
.activity-image-conteiner, .activity-image-conteiner img{
    width: 500px;
}

/*Color e img*/

header{
    background-color: #1b2127;
    color:white;
}

header a{
    color:white;
    text-decoration: none;
}